@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: rgba(255, 255, 255, 1);
  --foreground: rgba(27, 27, 27, 1);
  --card: rgba(255, 255, 255, 1);
  --card-foreground: rgba(27, 27, 27, 1);
  --popover: rgba(255, 255, 255, 1);
  --popover-foreground: rgba(27, 27, 27, 1);
  --primary: rgba(52, 52, 52, 1);
  --primary-foreground: rgba(251, 251, 251, 1);
  --secondary: rgba(247, 247, 247, 1);
  --secondary-foreground: rgba(52, 52, 52, 1);
  --muted: rgba(247, 247, 247, 1);
  --muted-foreground: rgba(134, 134, 134, 1);
  --accent: rgba(247, 247, 247, 1);
  --accent-foreground: rgba(52, 52, 52, 1);
  --destructive: rgba(224, 70, 70, 1);
  --border: rgba(235, 235, 235, 1);
  --input: rgba(235, 235, 235, 1);
  --ring: rgba(181, 181, 181, 1);
  --chart-1: rgba(214, 80, 80, 1);
  --chart-2: rgba(116, 176, 255, 1);
  --chart-3: rgba(104, 129, 211, 1);
  --chart-4: rgba(255, 200, 70, 1);
  --chart-5: rgba(243, 186, 61, 1);
  --sidebar: rgba(251, 251, 251, 1);
  --sidebar-foreground: rgba(27, 27, 27, 1);
  --sidebar-primary: rgba(52, 52, 52, 1);
  --sidebar-primary-foreground: rgba(251, 251, 251, 1);
  --sidebar-accent: rgba(247, 247, 247, 1);
  --sidebar-accent-foreground: rgba(52, 52, 52, 1);
  --sidebar-border: rgba(235, 235, 235, 1);
  --sidebar-ring: rgba(181, 181, 181, 1);
}

.dark {
  --background: rgba(27, 27, 27, 1);
  --foreground: rgba(251, 251, 251, 1);
  --card: rgba(52, 52, 52, 1);
  --card-foreground: rgba(251, 251, 251, 1);
  --popover: rgba(52, 52, 52, 1);
  --popover-foreground: rgba(251, 251, 251, 1);
  --primary: rgba(235, 235, 235, 1);
  --primary-foreground: rgba(52, 52, 52, 1);
  --secondary: rgba(76, 76, 76, 1);
  --secondary-foreground: rgba(251, 251, 251, 1);
  --muted: rgba(76, 76, 76, 1);
  --muted-foreground: rgba(181, 181, 181, 1);
  --accent: rgba(76, 76, 76, 1);
  --accent-foreground: rgba(251, 251, 251, 1);
  --destructive: rgba(200, 60, 60, 1);
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: rgba(134, 134, 134, 1);
  --chart-1: rgba(80, 90, 224, 1);
  --chart-2: rgba(255, 190, 70, 1);
  --chart-3: rgba(243, 186, 61, 1);
  --chart-4: rgba(140, 100, 255, 1);
  --chart-5: rgba(255, 130, 130, 1);
  --sidebar: rgba(52, 52, 52, 1);
  --sidebar-foreground: rgba(251, 251, 251, 1);
  --sidebar-primary: rgba(80, 90, 224, 1);
  --sidebar-primary-foreground: rgba(251, 251, 251, 1);
  --sidebar-accent: rgba(76, 76, 76, 1);
  --sidebar-accent-foreground: rgba(251, 251, 251, 1);
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: rgba(134, 134, 134, 1);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}